body {
    margin: 0;
    overflow: hidden;
}
#game-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game-div {
    position: relative;
    display: grid;
    padding: 30px;
    background-color: #bbb;
}
#game-div > div {
    position: relative;
    box-sizing: border-box;
    background-color: #f8f8f8;
    margin: 5px;
}
#game-div > div, .animation-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: arial;
}
.animation-div {
    position: absolute;
    transition: top 80ms linear, left 80ms linear;
}