@font-face {
    font-family: lale-zar;
    src: url(../../fonts/persian/Lalezar-Regular.ttf);
}
@font-face {
    font-family: sahel;
    src: url(../../fonts/persian/Sahel-Bold.ttf);
}
@font-face {
    font-family: aban;
    src: url(../../fonts/persian/Aban.ttf);
}
@font-face {
    font-family: vazir;
    src: url(../../fonts/persian/Vazir.ttf);
}
:root {
    --x-image-url: url(../../images/xo/x.png);
    --o-image-url: url(../../images/xo/o.png);
    --information-background: url(../../images/xo/information-background.jpg);
}
* {
  -webkit-tap-highlight-color: transparent;
}
body {
    user-select: none;
    background-color: #313131;
    margin: 0;
}
#backdrop {
    z-index: 2;
    position: absolute;
    inset: 0;
}
#game-page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game-div {
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 3px;
    background-color: #b9b9b9;
    border-radius: 8px;
    position: relative;
}
#game-div > div {
    cursor: pointer;
    box-shadow: 5px 5px 5px #242424 inset;
}
#v-line-1, #v-line-2, #h-line-1, #h-line-2 {
    position: absolute;
    background-color: #313131;
}
#v-line-1, #v-line-2 {
    width: calc(3px + 2px);
    height: calc(100% + 2px);
    top: 50%;
    transform: translate(-50%, -50%);
}
#h-line-1, #h-line-2 {
    width: calc(100% + 2px);
    height: calc(3px + 2px);
    left: 50%;
    transform: translate(-50%,-50%);
}
#v-line-1 {
    left: 33.33%;
}
#v-line-2 {
    left: 66.67%;
}
#h-line-1 {
    top: 33.33%;
}
#h-line-2 {
    top: 66.67%;
}
.x, .o {
    position: relative;
}
.x::after, .o::after {
    content: "";
    position: absolute;
    inset: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
    filter: drop-shadow(4px 4px 4px #373737);
    animation: show 0.3s forwards;
}
@keyframes show {
    0% {
        opacity: 0;
        scale: 0;
    }
    50% { scale: 1.1; }
    100% {
        opacity: 1;
        scale: 1;
    }
}
.x::after, #x-information-button {
    background-image: var(--x-image-url);
}
.o::after, #o-information-button {
    background-image: var(--o-image-url);
}
#score-panel {
    background-color: #b9b9b9;
    padding: 10px 40px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0 0 12px 12px;
    font-size: 2.2rem;
    font-family: aban;
}
#score-panel > div:not(:last-child) {
    margin-right: 50px;
}
#x-score-div, #o-score-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#x-score-div > *:not(:last-child), #o-score-div > *:not(:last-child) {
    margin-right: 30px;
}
#x-score-img, #o-score-img {
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    filter: drop-shadow(2px 2px 2px #555);
}
.active-turn {
    filter: drop-shadow(-1px -1px 0 aqua)
    drop-shadow(-1px 0 0 aqua)
    drop-shadow(-1px 1px 0 aqua)
    drop-shadow(0 -1px 0 aqua)
    drop-shadow(0 1px 0 aqua)
    drop-shadow(1px -1px 0 aqua)
    drop-shadow(1px 0 0 aqua)
    drop-shadow(1px 1px 0 aqua) !important;
}
#end-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 0;
    border-radius: 20px;
    overflow: hidden;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#end-panel::after {
    content: "";
    position: absolute;
    inset: 0;
    margin-left: 100%;
    background-color: rgb(221, 221, 221);
    animation: show-end-panel 0.3s 0.4s linear forwards;
    z-index: -1;
}
@keyframes show-end-panel {
    to { margin-left: 0; }
}
#end-panel > *:not(:last-child) {
    margin-bottom: 30px;
}
#end-panel-status {
    width: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translate(100%);
    animation: show-end-status 0.3s 1s forwards;
}
@keyframes show-end-status {
    to { transform: translate(0); }
}
#end-panel-status > div:not(:last-child) {
    margin-right: 30px;
}
#end-panel-images-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#end-panel-images-div > img {
    width: 50px;
    height: 50px;
    animation: end-panel-img-animation 1.5s linear infinite;
}
@keyframes end-panel-img-animation {
    50% {transform: scale(1);}
    75% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
#end-panel-images-div > img:not(:last-child) {
    margin-right: 10px;
}
#end-panel-text {
    font-size: 3.5rem;
    font-family: aban;
    word-spacing: 5px;
    letter-spacing: 2px;
    white-space: nowrap;
    color: #111;
    text-shadow: 1px 0 #111;
}
#end-panel-x-image {
    filter: drop-shadow(0 0 2px rgb(0,100,255)) drop-shadow(0 0 5px rgba(0,220,255));
}
#end-panel-o-image {
    filter: drop-shadow(0 0 2px rgb(255, 30, 30)) drop-shadow(0 0 5px rgb(255, 90, 90));
}
#restart-button {
    font-size: 20px;
    font-family: sahel;
    padding: 6px 12px;
    background-color: transparent;
    border: 3px solid #777;
    color: #888;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.15s linear;
    transform: scale(0);
    animation: show-restart-button 0.4s 1.3s forwards;
}
@keyframes show-restart-button {
    65% { transform: scale(1.15); }
    100% { transform: scale(1); }
}
#restart-button:hover, #restart-button:active {
    background-color: #777;
    color: rgb(221, 221, 221);
}
#x-information-button, #o-information-button {
    width: 50px;
    aspect-ratio: 2 / 3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#x-information-button {
    left: 100%;
    border-radius: 0 20px 20px 0;
    background-color: rgb(170, 207, 255);
    box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.2) inset;
}
#o-information-button {
    right: 100%;
    border-radius: 20px 0 0 20px;
    background-color: rgb(255, 170, 170);
    box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.2) inset;
}
#x-information, #o-information {
    width: 300px;
    aspect-ratio: 3 / 5;
    background-image: var(--information-background);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transition: translate 0.5s ease;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transform: translateY(-50%);
    direction: rtl;
}
#x-information {
    left: 0;
    translate: -100%;
    border-radius: 0 8px 8px 0;
}
#o-information {
    right: 0;
    translate: 100%;
    border-radius: 8px 0 0 8px;
}
.active-information {
    translate: 0 !important;
}
#x-information > div, #o-information > div {
    display: flex;
    flex-direction: row;
}
#x-information > div:not(#x-chart-div, .information-titr), #o-information > div:not(#o-chart-div, .information-titr) {
    font-family: aban;
    font-size: 1.5rem;
}
#x-information > div:not(#x-chart-div) > div:first-child, #o-information > div:not(#o-chart-div) > div:first-child {
    margin-left: 20px;
}
.information-titr {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: lale-zar;
    word-spacing: 4px;
}
#x-chart-div, #o-chart-div {
    width: 100%;
    display: flex;
    justify-content: center;
}
#o-chart, #x-chart {
    width: 80%;
    height: 35px;
    border: 2px solid #444;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
}
#x-chart {
    flex-direction: row;
}
#o-chart {
    flex-direction: row-reverse;
    transform: rotate(180deg);
}
#x-chart-win, #o-chart-win {
    background-color: green;
    transition: 0.3s;
}
#x-chart-draw, #o-chart-draw {
    background-color: yellow;
    transition: 0.3s;
}
#x-chart-lose, #o-chart-lose {
    background-color: red;
    transition: 0.3s;
}
#x-win-count, #o-win-count {
    color: rgb(0, 140, 0);
}
#x-draw-count, #o-draw-count {
    color: rgb(255, 166, 0);
}
#x-lose-count, #o-lose-count {
    color: rgb(214, 0, 0);
}
.winner::after {
    animation: winner 0.5s 0.2s ease;
}
@keyframes winner {
    25% { transform: scale(1.15); }
    50% { transform: scale(1); }
    75% { transform: scale(1.15); }
}
@media (max-aspect-ratio: 1/1) {
    #game-div {
        width: 70%;
    }
}
@media (min-aspect-ratio: 1/1) {
    #game-div {
        height: 70%;
    }
}
@media only screen and (max-width: 1025px) {
    #score-panel {
        padding: 8px 35px;
        border-radius: 0 0 10px 10px;
        font-size: 2rem;
    }
    #score-panel > div:not(:last-child) {
        margin-right: 45px;
    }
    #x-score-div > *:not(:last-child), #o-score-div > *:not(:last-child) {
        margin-right: 25px;
    }
    #x-score-img, #o-score-img {
        width: 35px;
        height: 35px;
    }
    #end-panel {
        padding: 25px 0;
        border-radius: 18px;
    }
    #end-panel > *:not(:last-child) {
        margin-bottom: 25px;
    }
    #end-panel-status {
        padding: 0 45px;
    }
    #end-panel-status > div:not(:last-child) {
        margin-right: 25px;
    }
    #end-panel-images-div > img {
        width: 45px;
        height: 45px;
    }
    #end-panel-images-div > img:not(:last-child) {
        margin-right: 9px;
    }
    #end-panel-text {
        font-size: 3rem;
        word-spacing: 4px;
    }
    #end-panel-x-image {
        filter: drop-shadow(0 0 2px rgb(0,100,255)) drop-shadow(0 0 4px rgba(0,220,255));
    }
    #end-panel-o-image {
        filter: drop-shadow(0 0 2px rgb(255, 30, 30)) drop-shadow(0 0 4px rgb(255, 90, 90));
    }
    #restart-button {
        font-size: 18px;
        padding: 5px 10px;
    }
    #x-information-button, #o-information-button {
        width: 45px;
        background-size: 30px 30px;
    }
    #x-information-button {
        border-radius: 0 16px 16px 0;
    }
    #o-information-button {
        border-radius: 16px 0 0 16px;
    }
    #x-information, #o-information {
        width: 250px;
        padding: 0 18px;
    }
    #x-information > div:not(#x-chart-div, .information-titr), #o-information > div:not(#o-chart-div, .information-titr) {
        font-size: 1.3rem;
    }
    #x-information > div:not(#x-chart-div) > div:first-child, #o-information > div:not(#o-chart-div) > div:first-child {
        margin-left: 16px;
    }
    .information-titr {
        font-size: 1.8rem;
        word-spacing: 3px;
    }
    #o-chart, #x-chart {
        height: 30px;
    }
}
@media only screen and (max-width: 768px) {
    #game-div {
        border-radius: 7px;
    }
    .x::after, .o::after {
        filter: drop-shadow(3px 3px 4px #373737);
    }
    #score-panel {
        padding: 6px 30px;
        border-radius: 0 0 8px 8px;
        font-size: 1.8rem;
    }
    #score-panel > div:not(:last-child) {
        margin-right: 30px;
    }
    #x-score-div > *:not(:last-child), #o-score-div > *:not(:last-child) {
        margin-right: 20px;
    }
    #x-score-img, #o-score-img {
        width: 30px;
        height: 30px;
    }
    #end-panel {
        padding: 20px 0;
        border-radius: 14px;
    }
    #end-panel > *:not(:last-child) {
        margin-bottom: 16px;
    }
    #end-panel-status {
        padding: 0 30px;
    }
    #end-panel-status > div:not(:last-child) {
        margin-right: 20px;
    }
    #end-panel-images-div > img {
        width: 40px;
        height: 40px;
    }
    #end-panel-images-div > img:not(:last-child) {
        margin-right: 8px;
    }
    #end-panel-text {
        font-size: 2.5rem;
        word-spacing: 3px;
    }
    #restart-button {
        font-size: 16px;
        padding: 4px 8px;
        border-radius: 7px;
    }
    #x-information-button, #o-information-button {
        width: 35px;
        background-size: 25px 25px;
    }
    #x-information-button {
        border-radius: 0 14px 14px 0;
    }
    #o-information-button {
        border-radius: 14px 0 0 14px;
    }
    #x-information, #o-information {
        width: 200px;
        padding: 0 15px;
    }
    #x-information {
        border-radius: 0 8px 8px 0;
    }
    #o-information {
        border-radius: 8px 0 0 8px;
    }
    #x-information > div:not(#x-chart-div, .information-titr), #o-information > div:not(#o-chart-div, .information-titr) {
        font-size: 1rem;
    }
    #x-information > div:not(#x-chart-div) > div:first-child, #o-information > div:not(#o-chart-div) > div:first-child {
        margin-left: 12px;
    }
    .information-titr {
        font-size: 1.3rem;
        word-spacing: 2px;
    }
    #o-chart, #x-chart {
        height: 25px;
    }
}
@media only screen and (max-width: 600px) {
    #game-div {
        gap: 2px;
        border-radius: 8px;
    }
    #game-div > div {
        box-shadow: 4px 4px 5px #242424 inset;
    }
    #v-line-1, #v-line-2 {
        width: calc(2px + 2px);
    }
    #h-line-1, #h-line-2 {
        height: calc(2px + 2px);
    }
    .x::after, .o::after {
        filter: drop-shadow(2px 2px 3px #373737);
    }
    #score-panel {
        padding: 5px 20px;
        font-size: 1.5rem;
    }
    #score-panel > div:not(:last-child) {
        margin-right: 22px;
    }
    #x-score-div > *:not(:last-child), #o-score-div > *:not(:last-child) {
        margin-right: 15px;
    }
    #x-score-img, #o-score-img {
        width: 22px;
        height: 22px;
    }
    #end-panel {
        padding: 15px 0;
        border-radius: 12px;
    }
    #end-panel > *:not(:last-child) {
        margin-bottom: 12px;
    }
    #end-panel-status {
        padding: 0 25px;
    }
    #end-panel-status > div:not(:last-child) {
        margin-right: 15px;
    }
    #end-panel-images-div > img {
        width: 35px;
        height: 35px;
    }
    #end-panel-images-div > img:not(:last-child) {
        margin-right: 6px;
    }
    #end-panel-text {
        font-size: 2.2rem;
    }
    #restart-button {
        font-size: 14px;
        padding: 3px 6px;
        border-radius: 6px;
    }
    #x-information-button, #o-information-button {
        width: 30px;
        background-size: 22px 22px;
    }
    #x-information-button {
        border-radius: 0 12px 12px 0;
    }
    #o-information-button {
        border-radius: 12px 0 0 12px;
    }
    #x-information, #o-information {
        width: 35%;
        padding: 0 10px;
    }
    #x-information {
        border-radius: 0 6px 6px 0;
    }
    #o-information {
        border-radius: 6px 0 0 6px;
    }
    #x-information > div:not(#x-chart-div, .information-titr), #o-information > div:not(#o-chart-div, .information-titr) {
        font-size: 0.75rem;
    }
    #x-information > div:not(#x-chart-div) > div:first-child, #o-information > div:not(#o-chart-div) > div:first-child {
        margin-left: 8px;
    }
    .information-titr {
        font-size: 1.2rem;
    }
    #o-chart, #x-chart {
        height: 18px;
        border-radius: 4px;
    }
}