* {
  -webkit-tap-highlight-color: transparent;
}
:root {
    --color1: #2364aa;
    --color2: #3da5d9;
    --color3: #73bfb8;
    --color4: #fec601;
    --color5: #ea7317;
    --shadow: #032336;
}
#game-page {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    margin: 0;
    user-select: none;
}
#game-div {
    aspect-ratio: 1;
    background-color: var(--color4);
    position: relative;
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--shadow) inset;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    padding: 5px;
    box-sizing: border-box;
}
#game-div > div {
    margin: 5px;
}
#game-div > div:not(.empty) {
    cursor: pointer;
    z-index: 2;
}
#game-div > div:not(.empty), .animation-div {
    background-color: var(--color5);
    color: white;
    -webkit-text-stroke: 2px black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: arial;
    font-weight: 800;
    box-shadow: 3px 3px 5px var(--shadow);
}
.animation-div {
    position: absolute;
    transition: 0.1s ease;
    z-index: 3;
}
#timer-panel {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
}
#timer-panel > div {
    margin: 0 5px;
    font-size: 1.2rem;
    font-family: arial;
}
@media (max-aspect-ratio: 1/1) {
    #game-div {
        width: 70%;
    }
}
@media (min-aspect-ratio: 1/1) {
    #game-div {
        height: 70%;
    }
}
@media only screen and (max-width: 1025px) {
    #game-div {
        border-radius: 9px;
        box-shadow: 3px 3px 4px var(--shadow) inset;
        padding: 4px;
    }
    #game-div > div {
        margin: 4px;
    }
    #game-div > div:not(.empty), .animation-div {
        -webkit-text-stroke: 1.5px black;
        border-radius: 9px;
        font-size: 1.8rem;
        box-shadow: 3px 3px 4px var(--shadow);
    }
}
@media only screen and (max-width: 768px) {
    #game-div {
        border-radius: 8px;
        box-shadow: 2px 2px 4px var(--shadow) inset;
        padding: 3px;
    }
    #game-div > div {
        margin: 3px;
    }
    #game-div > div:not(.empty), .animation-div {
        -webkit-text-stroke: 1px black;
        border-radius: 8px;
        font-size: 1.5rem;
        box-shadow: 2px 2px 4px var(--shadow);
    }
}
@media only screen and (max-width: 481px) {
    #game-div {
        border-radius: 7px;
        box-shadow: 2px 2px 3px var(--shadow) inset;
        padding: 3px;
    }
    #game-div > div {
        margin: 3px;
    }
    #game-div > div:not(.empty), .animation-div {
        -webkit-text-stroke: 1px black;
        border-radius: 7px;
        font-size: 1.2rem;
        box-shadow: 2px 2px 3px var(--shadow);
    }
}