@font-face {
    font-family: sahel;
    src: url(../../fonts/persian/Sahel-Bold.ttf);
}
@font-face {
    font-family: consola;
    src: url(../../fonts/english/CONSOLA.TTF);
}
* {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
body {
    user-select: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.kol {
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    width: 540px;
    height: 540px;
    border: 5px solid rgb(0, 0, 180);
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.game > div {
    width: 100%;
    height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.game > div:nth-child(2) {
    border-top: 5px solid rgb(0, 0, 180);
    border-bottom: 5px solid rgb(0, 0, 180);
}
.game > div > div {
    width: 100%;
    height: 33.33%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
.game > div > div:nth-child(2) {
    border-top: 2px solid rgb(0, 0, 180);
    border-bottom: 2px solid rgb(0, 0, 180);
}
.game > div > div > div {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: row;
    justify-content: space-between;
}
.game > div > div > div:nth-child(2) {
    border-right: 5px solid rgb(0, 0, 180);
    border-left: 5px solid rgb(0, 0, 180);
}
.game > div > div > div > div {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 30px arial;
    background-color: rgb(210, 255, 255);
    color: blue;
    text-shadow: 1.5px 1.5px 2px rgb(0, 150, 255);
    cursor: pointer;
}
.game > div > div > div > div:nth-child(2) {
    border-right: 2px solid rgb(0, 0, 180);
    border-left: 2px solid rgb(0, 0, 180);
}
.numbers {
    width: 550px;
    height: 72px;
    background-color: rgb(0, 0, 180);
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -2px;
}
.numbers > div {
    width: 48px;
    height: 48px;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 28px arial;
    border-radius: 5px;
    cursor: pointer;
}
.numbers-on {
    background-color: rgb(100, 255, 255) !important;
    color: rgb(0, 0, 180) !important;
    text-shadow: 1px 1px 3px rgb(0, 80, 255);
}
.level {
    width: 400px;
    height: 480px;
    background-color: rgb(0, 255, 255);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.level-text {
    height: 20%;
    font: 38px sahel;
}
.level-btn {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.level-btn > button {
    width: 95px;
    height: 55px;
    font: 22px sahel;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid rgb(0, 0, 180);
    border-radius: 10px;
    color: rgb(0, 0, 180);
    transition: 0.1s linear;
    box-shadow: 0 1px 3px rgb(0, 150, 255), 0 0 4px rgb(0, 81, 255);
}
.level-btn > button:active {
    background-color: rgb(0, 0, 180);
    color: rgb(0, 255, 255);
    text-shadow: none;
}
.unchangeable {
    color: rgb(0, 0, 140) !important;
    text-shadow: 1px 1px 3px rgb(0, 65, 255) !important;
}
.active {
    background-color: aquamarine !important;
}
.wrong {
    text-shadow: -2px 0 1px red, -1.4px 1.4px 1px red, 0 2px 1px red, 1.4px 1.4px 1px red, 2px 0 1px red , 1.4px -1.4px 1px red, 0 -2px 1px red, -1.4px -1.4px 1px red !important;
}
.timer-div {
    width: 12vw;
    height: 80px;
    background-color: rgb(0, 255, 255);
    color: rgb(0, 0, 180);
    text-shadow: 0 0 3px rgb(0, 65, 255);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0 10px;
    font: 30px consola;
    border: 3px solid rgb(0, 65, 255);
    box-shadow: 0 0 4px rgb(119, 198, 255);
}

.gn {
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 768px) {
    .game {
        width: 435px;
        height: 435px;
    }
    .game > div > div > div > div {
        font: 25px arial;
    }
    .numbers {
        width: 445px;
        height: 57px;
        margin-top: -2px;
    }
    .numbers > div {
        width: 38px;
        height: 38px;
        font: 25px arial;
    }
    .level {
        width: 320px;
        height: 380px;
    }
    .level-text {
        font: 33px sahel;
    }
    .level-btn > button {
        width: 85px;
        height: 50px;
        font: 20px sahel;
    }
}
@media only screen and (max-width: 600px) {
    .game {
        width: 360px;
        height: 360px;
    }
    .game > div > div > div > div {
        font: 20px arial;
        text-shadow: 1px 1px 2px rgb(0, 150, 255);
    }
    .numbers {
        width: 370px;
        height: 43px;
        margin-top: -4px;
    }
    .numbers > div {
        width: 29px;
        height: 29px;
        font: 20px arial;
    }
    .level {
        width: 280px;
        height: 320px;
    }
    .level-text {
        font: 30px sahel;
    }
    .level-btn > button {
        width: 75px;
        height: 45px;
        font: 19px sahel;
    }
}