@font-face {
    font-family: consola;
    src: url(../../fonts/english/CONSOLA.TTF);
}
* {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
:root {
    --block-border-size: 2.5px;
    --cell-border-size: 0.5px;
    --font-size: 1.8rem;
}
body {
    user-select: none;
    margin: 0;
}
#game-page, #level-page {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#game-div {
    border-width: calc(2 * var(--block-border-size));
    border-style: solid;
    border-COLOR: rgb(0, 0, 180);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
#board {
    width: 70vmin;
    aspect-ratio: 1;
    display: grid;
}
#board > div {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
} 
#board > div > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--cell-border-size) solid rgb(0, 0, 180);
    background-color: rgb(210, 255, 255);
    font-size: var(--font-size);
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    text-shadow: 1.5px 1.5px 2px rgb(0, 150, 255);
    cursor: pointer;
}
#board > div:nth-child(3n) {
    border-bottom: var(--block-border-size) solid rgb(0, 0, 180);
}
#board > div:nth-child(3n + 1) {
    border-top: var(--block-border-size) solid rgb(0, 0, 180);
}
#board > div > div:nth-child(-3n + 6) {
    border-right: var(--block-border-size) solid rgb(0, 0, 180);
}
#board > div > div:nth-child(-3n + 7) {
    border-left: var(--block-border-size) solid rgb(0, 0, 180);
}
#number-panel {
    width: 100%;
    background-color: rgb(0, 0, 180);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: space-around;
    align-items: center;
    padding: 1% 0.5% calc(1% - var(--block-border-size));
    box-sizing: border-box;
}
#number-panel > div {
    aspect-ratio: 1;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
    font-family: arial;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5%;
}
#level-panel {
    width: 400px;
    aspect-ratio: 3 / 4;
    max-height: 80%;
    background-color: rgb(0, 255, 255);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#level-titr {
    font-size: 2.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
#level-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#level-list > button {
    width: 150px;
    aspect-ratio: 2;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 180);
    border-radius: 10px;
    color: rgb(0, 0, 180);
    transition: 0.1s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgb(0, 150, 255), 0 0 4px rgb(0, 81, 255);
}
#level-list > button:not(:last-child) {
    margin-bottom: 30px;
}
#level-list > button:active {
    background-color: rgb(0, 0, 180);
    color: rgb(0, 255, 255);
    text-shadow: none;
}
.fixed {
    color: rgb(0, 0, 140) !important;
    text-shadow: 1px 1px 3px rgb(0, 65, 255) !important;
    cursor: default !important;
}
.active-cell {
    background-color: aquamarine !important;
} 
.wrong {
    -webkit-text-stroke: 1px red;
    font-weight: 600;
}
.completed-number {
    background-color: rgb(0, 150, 255) !important;
}
.active-number {
    background-color: rgb(100, 255, 255) !important;
    color: rgb(0, 0, 180) !important;
    text-shadow: 1px 1px 3px rgb(0, 80, 255);
}
#timer-panel {
    width: 150px;
    aspect-ratio: 2.5;
    background-color: rgb(0, 255, 255);
    color: rgb(0, 0, 180);
    text-shadow: 0 0 3px rgb(0, 65, 255);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 1.8rem;
    font-family: consola;
    border: 3px;
    border-style: solid;
    border-color: rgb(0, 65, 255);
    box-shadow: 0 0 4px rgb(119, 198, 255);
}
@media only screen and (max-width: 1025px) {
    :root {
        --block-border-size: 2px;
        --cell-border-size: 0.5px;
        --font-size: 1.5rem;
    }
    #game-div {
        border-radius: 7px;
    }
    #number-panel > div {
        border-radius: 5px;
    }
    #level-panel {
        width: 350px;
        border-radius: 13px;
    }
    #level-titr {
        font-size: 2rem;
    }
    #level-list > button {
        width: 120px;
        font-size: 1.3rem;
        border-width: 3px;
        border-radius: 10px;
    }
    #level-list > button:not(:last-child) {
        margin-bottom: 25px;
    }
    #timer-panel {
        width: 140px;
        border-radius: 5px;
        padding: 0 8px;
        font-size: 1.6rem;
    }
}
@media only screen and (max-width: 768px) {
    :root {
        --block-border-size: 1.8px;
        --cell-border-size: 0.3px;
        --font-size: 1.2rem;
    }
    #game-div {
        border-radius: 7px;
    }
    #board > div > div {
        text-shadow: 1px 1px 1px rgb(0, 150, 255);
    }
    #number-panel > div {
        border-radius: 4px;
    }
    #level-panel {
        width: clamp(150px, 40vw, 300px);
        border-radius: 10px;
    }
    #level-titr {
        font-size: 1.8rem;
    }
    #level-list > button {
        width: 90px;
        font-size: 1rem;
        border-radius: 10px;
    }
    #level-list > button:not(:last-child) {
        margin-bottom: 18px;
    }
    .fixed {
        text-shadow: 1px 1px 1px rgb(0, 65, 255) !important;
    }
    #timer-panel {
        width: 120px;
        border-radius: 4px;
        padding: 0 7px;
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 481px) {
    :root {
        --block-border-size: 1.6px;
        --font-size: 0.8rem;
    }
    #game-div {
        border-radius: 5px;
    }
    #number-panel > div {
        border-radius: 3px;
    }
    #level-panel {
        border-radius: 8px;
    }
    #level-titr {
        font-size: 1.4rem;
    }
    #level-list > button {
        width: 60px;
        font-size: 0.8rem;
        border-width: 2px;
        border-radius: 6px;
    }
    #level-list > button:not(:last-child) {
        margin-bottom: 10px;
    }
    #timer-panel {
        width: 80px;
        padding: 0 6px;
        font-size: 1rem;
    }
}